<h1>Stupid Coaching</h1>
<h2>Ask anything to your coach:</h2>

<form action="/answer" method="get" class="form-control">
  <input type="text" name="your_message">
  <input type="submit" value="Ask!">
</form>

